@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&family=Source+Sans+3:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    width: 100vw;
}

html {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

img {
    aspect-ratio: attr(width) / attr(height);
}

footer {
    margin-top: auto;
}

.carousel {
    .rec-dot {
        border: none;
        color: rgb(104, 104, 104);
        background-color: transparent;
        box-shadow: none;
    }
    .rec-dot:hover,
    .rec-dot:focus {
        cursor: pointer;
        border: none;
        box-shadow: none;
    }
    .rec-dot_active {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .rec-arrow {
        position: absolute;
        z-index: 10;
        background-color: transparent;
        color: rgb(104, 104, 104);
        width: 20px;
        height: 20px;
        min-height: 16px;
        min-width: 16px;
        font-size: 16px;
        line-height: 0px;
        border: none;
        box-shadow: none;
    }
    .rec.rec-arrow-left:hover:enabled,
    .rec.rec-arrow-right:hover:enabled,
    .rec.rec-arrow-left:focus:enabled,
    .rec.rec-arrow-right:focus:enabled {
        border: none;
        color: rgb(61, 61, 61);
        background-color: transparent;
        box-shadow: none;
    }
    .rec.rec-arrow-left:hover,
    .rec.rec-arrow-right:hover {
        color: rgb(61, 61, 61);
        background-color: transparent;
        box-shadow: none;
    }
    .rec-arrow-right {
        right: 00px;
    }
    .rec-arrow-left {
        left: 00px;
    }
    .rec-slider-container {
        margin: 0;
    }
}

body {
    margin: 0px;
    padding: 0px;
    /* background-color: #f3f3f3; */

    .rec-dot {
        box-shadow: rgb(255, 89, 89) 0px 0px 1px 3px;
    }
    .rec-dot:hover,
    .rec-dot:focus {
        cursor: pointer;
        box-shadow: rgb(255, 89, 89) 0px 0px 1px 3px;
    }
    .rec-dot_active {
        background-color: rgba(255, 89, 89, 0.5);
    }
    .rec-arrow {
        position: absolute;
        z-index: 10;
        background-color: white;
        width: 40px;
        height: 40px;
        min-height: 28px;
        min-width: 28px;
        font-size: 24px;
        line-height: 0px;
    }
    /* .rec.rec-arrow-left:hover:enabled,
    .rec.rec-arrow-right:hover:enabled,
    .rec.rec-arrow-left:focus:enabled,
    .rec.rec-arrow-right:focus:enabled {
        color: rgb(255, 255, 255);
        background-color: #ff5959;
        box-shadow: rgb(51, 51, 51) 0px 0px 2px 0px;
    } */
    .rec.rec-arrow-left:hover,
    .rec.rec-arrow-right:hover {
        color: rgb(255, 255, 255);
        background-color: #ff5959;
        box-shadow: rgb(51, 51, 51) 0px 0px 2px 0px;
    }
    .rec-arrow-right {
        right: 12px;
    }
    .rec-arrow-left {
        left: 12px;
    }
    .rec-slider-container {
        margin: 0;
    }
    h1 {
        font-size: 71.29px;
        line-height: calc(71.29px * 1.2);
        letter-spacing: -2%;
    }
    h2 {
        font-size: 48.83px;
        line-height: calc(48.83px * 1.2);
        letter-spacing: -2%;
    }
    h3 {
        font-size: 25px;
        line-height: calc(25px * 1.2);
        letter-spacing: -2%;
    }
    p {
        font-size: 20px;
        line-height: calc(20px * 1.5);
        letter-spacing: -0.2px;
    }
    main {
        max-width: 1120px;
        background-color: #ffffff;
        margin: 0 auto;
    }
    @media only screen and (max-width: 904px) {
        h1 {
            font-size: 36.49px;
            line-height: calc(36.49px * 1.2);
            letter-spacing: -2%;
        }
        h2 {
            font-size: 28.83px;
            line-height: calc(28.83px * 1.2);
            letter-spacing: -2%;
        }
        h3 {
            font-size: 20.25px;
            line-height: calc(20.25px * 1.2);
            letter-spacing: -2%;
        }
        p {
            font-size: 18px;
            line-height: calc(18px * 1.5);
            letter-spacing: -0.2px;
        }
    }
}
@media only screen and (max-width: 904px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (max-width: 620px) {
    main {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media only screen and (max-width: 1120px) {
    main {
        padding: 0 8px 0 8px;
    }
}
